<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PortraitEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PortraitEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PortraitEditor.Properties.Settings>
            <setting name="StarsectorUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="ModFoldAction" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LPessFoldAction" serializeAs="String">
                <value>1</value>
            </setting>
        </PortraitEditor.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <PortraitEditor.Properties.Settings>
            <setting name="FallbackLogo" serializeAs="String">
                <value>C:\Users\fabrice\Pictures\Scans\Scan_20190228.png</value>
            </setting>
        </PortraitEditor.Properties.Settings>
    </applicationSettings>
</configuration>